# Ignore everything
*

# Exclude specific files and directories from being ignored
!.gitignore
!.myfuncs
!*/
!*.tf
!*.c
!*.md
!*.sh
!*.py
!*.h
!*.html
!*.css
!*VERSION
# !*.env
!*.yaml
!Jenkinsfile
!dockerfile
!requirements.txt
# Ignore all .terraform directories in any location
**/.terraform/

