# Ignore everything
*

# Exclude specific files and directories from being ignored
!.gitignore
!.myfuncs
!*/
!*.tf
!*.c
!*.md
!*.sh
!*.py
!Makefile
!*.h
!*.html
!*.css
!*.yaml
!Jenkinsfile
!dockerfile
# Ignore all .terraform directories in any location
**/.terraform/

